<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pr" class="in.vishal.beans.PrintReceipt"/>
    <bean id="atm" class="in.vishal.beans.ATM">
        <constructor-arg name="printer" ref="pr"></constructor-arg>
    </bean>
    

</beans>